.PokemonCard{
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  margin: 0 .5rem;
  width: calc( (100% / 6) - 25px);
  padding: 1rem;
  text-align: center;
  img{
    width: 5rem;
    height: auto;
    margin: 0 auto;
  }
  p{
    color: var(--white);
    font-size: 1.2rem;
  }
  ul{
    list-style-type: none;
    padding: 0;

    li{
      background-color: var(--white);
      color: var(--blue);
      padding: .2rem .4rem;
      border-radius: .3rem;
      margin-bottom: .2rem;
    }
  }
}


.default__member{
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  margin: 0 .5rem;
  min-height: 12.5rem;
  background-color: var(--grey);
  width: calc( (100% / 6) - 25px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
