.pokedetail__wrapper{
  display: flex;
  padding: 0 1rem;
}

.pokeImg{
  width: 5rem;
  height: auto;
}

.pokeName{
  font-size: 1rem;
  text-transform: uppercase;
  margin: 0 0 .2rem 0; 
  color: var(--blue);;
}
.btn__prim{
  padding: .4rem .8rem;
  font-family: serif;
  color: var(--white);
  background-color: var(--blue);
  border: 0px solid transparent;
  transition: .4s all;
  &:hover{
    color: var(--blue);
    background-color: var(--yellow);
  }
}
