.pokedetail__stats__title{
  margin: 0;
  padding: 0;
  text-align: center;
  color: var(--blue);
  text-transform: uppercase;
  font-size: 1rem;
}

.pokedetail__stats__wrapper{
  display: flex;
}
.pokedetail__stats__inner{
  text-align: right;
  padding: 0 1rem;
  text-transform: uppercase;
}
