.pokemonlist__wrapper{
  width: 30%;
  label{
    display: block;
    text-align: center;
    color: var(--yellow);
    font-weight: bold;
    margin-bottom: .2rem;
  }
  input{
    display: block;
    border: 3px solid var(--blue);
    padding: 4px;
    margin-right: 0;
    width: 100%;
    max-width: 200px;
  }
  ul{
    max-height: 200px;
    overflow-y: scroll;
    list-style-type: none;
    padding: 0;
  }
  li{
    display: block;
    padding: .4rem .5rem; 
    margin-bottom: .3rem;
    color: var(--yellow);
    text-transform: uppercase;
    border-radius: 8px;
  }
}
